OPENAI_API_KEY='sk-proj-xxx'
ANTHROPIC_API_KEY='sk-ant-apixxx'
AZURE_OPENAI_API_KEY='xxx'
AZURE_OPENAI_ENDPOINT='https://<resource_name>.openai.azure.com/'
AZURE_API_VERSION='2025-01-01-preview'
GITHUB_TOKEN='github_pat_xxx'